{% extends 'AcmeSmallstepsBundle::parentBase.html.twig' %}

{% form_theme edit_form 'AcmeSmallstepsBundle:Form:fields.html.twig' %}

{% block heading %}
    Address edit
{% endblock heading %}

{% block content -%}
   

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('Admin_Address') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
