{% extends "AcmeSmallstepsBundle::base.html.twig" %}

{% block head %}
    {% block stylesheets %}
        {{ parent() }}
        {% stylesheets  'bundles/acmesmallsteps/css/signin.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
    {% endblock stylesheets %}
{% endblock head %}
{% block title %}Forgot Password{% endblock %}

{% block errors %}
    
{% endblock %}

{% block heading %}
    Forgot Password
{% endblock heading %}

{% block content %}
    <form action='#' method="post"  class="form-signin">			                    
        <input type="email" class="form-control" name="email" id="email" placeholder="email address" autofocus required>
        <input type="submit"  class="btn-lg btn-block" id="forgot_password" value="Retrieve Password">
        <p><a href="{{ path('register') }}">Register</a> or <a href="{{ path('login') }}">Login</a></p>
    </form>
{% endblock content %}


