{% extends 'AcmeSmallstepsBundle::adminBase.html.twig' %}

{% form_theme form 'AcmeSmallstepsBundle:Form:fields.html.twig' %}

{% block heading %}
    School creation
{% endblock heading %}

{% block content -%}   

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('Admin_School') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
